[Unit]
Description=Dunst notification daemon
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/dunst
Restart=always

[Install]
WantedBy=xsession.target
