.asdf
.cache
.docker
.aws
.config/1Password
.config/JetBrains
.config/google-*
.config/microsoft-*
.config/systemd/user/*.wants
.dotfiles
.gnupg
.java
.local
.mozilla
.terraform.d
.password-store
.pki
.psql-history
.steam
.steampath
.steampid
.zsh-history
flip
go
media
src
Downloads
